#barraSuperior{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    width: auto;
    height: 120px;
    float: inherit;
}

#barraSuperior a{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#formularioBusqueda{
    width: auto;
    height: 200px;
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 250px;
}

#formularioPublicacion{
    width: auto;
    height: 200px;
    margin-top: 70px;
    margin-left: 450px;
    margin-right: 450px;
}

#publicacion{
    width: auto;
    height: 200px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 450px;
    float: left;
}

#resultadoBusqueda{
    width: auto;
    height: 200px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
}